
@{
    ViewBag.Title = "Check_in";
    Layout = "~/Views/Shared/_LayoutStyle.cshtml";
}

<div class="row-fluid">
    <div class="col-sm-12">
        <form>
            <div class="col-sm-offset-3 col-sm-3">
                <div class="input-group">
                    <span class="input-group-addon">$</span>
                    <input type="text" class="form-control" placeholder="card no..."  name="cardno"/>
                    <div class="input-group-btn">
                        <input type="submit" class="form-control btn-primary" value="Check_in" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
