@{Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>技术支持</title>
</head>
<body style="background: url(/Content/Images/Support.jpg)  no-repeat right 0px; margin-top: 1px;">
    <p>Tel:1234</p>
    <p>Email:carl.zhu@minicut.com.cn</p>
</body>
</html>
