@{Layout = "~/Views/Shared/_Layout.cshtml";}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>欢迎使用</title>

    <style type="text/css">
       

        html, body {
          
        }

        .welcome {
            margin-top: 10%;
            height: 280px;
            width: 100%;
            /*margin: auto auto;*/
            background: url('/content/images/1227/welcome.png') center center no-repeat;
        }
    </style>


</head>
<body>
    <div class="welcome"></div>
</body>
</html>
