@{
    ViewBag.Title = "Apparatus》表单页面";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script type="text/javascript">
    var KeyValue = GetQuery('KeyValue');//主键


    $(function() {
        InitControl();
        BindCombobox();


    });

    function BindCombobox() {
        BindDropItem("#CalResult", "CalResultEnum", "");
        BindDropItem("#CalCircle", "CalCircleEnum", "");
        BindDropItem("#CalType", "CalTypeEnum", "");
        BindDropItem("#Status", "StatusEnum", "");
    }

    //得到一个对象实体
    function InitControl() {
        if (!!GetQuery('KeyValue')) {
            $("#MntNo").attr("readonly", "readonly");
            AjaxJson("/eSystem/Apparatus/SetForm", { KeyValue: KeyValue }, function (data) {
                SetWebControls(data);
            });
        }
    }

    

    //保存事件
    function AcceptClick() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        var postData = GetWebControls("#form1");
        AjaxJson("/eSystem/Apparatus/SubmitForm?KeyValue=" + KeyValue, postData, function (data) {
            tipDialog(data.Message, 3, data.Code);
            top.frames[tabiframeId()].windowload();
            closeDialog();
        });
    }
</script>
<form id="form1" style="margin: 1px">
    <div id="message" style="display: none"></div>
    <table class="form">
        <tr>
            <th class='formTitle'>编号：</th>
            <td class='formValue'>
                <input id="MntNo" maxlength=128 type="text" class="txt" datacol="yes" err="MntNo" checkexpession="NotNull"  />
            </td>
            <th class='formTitle'>仪器名称：</th>
            <td class='formValue'>
                <input id="Name" maxlength=-1 type="text" class="txt" datacol="yes" err="Name" checkexpession="NotNull"  />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>型号：</th>
            <td class='formValue'>
                <input id="Model" maxlength=-1 type="text" class="txt" datacol="yes" err="Model" checkexpession="NotNull"  />
            </td>
            <th class='formTitle'>检定日期：</th>
            <td class='formValue'>
                <input id="CalDate" type="text" class="txt Wdate required" onfocus="WdatePicker({ maxDate: '%y-%M-%d' })"/>
            </td>
        </tr>
        <tr>
            <th class='formTitle'>检定结果：</th>
            <td class='formValue'>
                <select id="CalResult" class="txtselect"></select>
            </td>
            <th class='formTitle'>判定：</th>
            <td class='formValue'>
                <input id="CertificateResults" maxlength=-1 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>检定周期：</th>
            <td class='formValue'>
                <select id="CalCircle" class="txtselect"></select>
            </td>
            <th class='formTitle'>下次检定日期：</th>
            <td class='formValue'>
                <input id="NextCalDate" type="text" class="txt Wdate required" onfocus="WdatePicker()" checkexpession="DateOrNull"/>
            </td>
        </tr>
        <tr>
            <th class='formTitle'>检定类型：</th>
            <td class='formValue'>
                <select id="CalType" class="txtselect"></select>
            </td>
            <th class='formTitle'>使用人：</th>
            <td class='formValue'>
                <input id="UseEmp" maxlength=-1 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>使用位置：</th>
            <td class='formValue' colspan="3">
                <input id="UseAdd" maxlength=-1 type="text" class="txt"/>
            </td>

        </tr>
        <tr>
            <th class='formTitle'>使用状态：</th>
            <td class='formValue' colspan="3">
                <select id="Status" class="txtselect"></select>
            </td>

        </tr>
        <tr>
            <th class="formTitle">
                说明：
            </th>
            <td class="formValue" colspan="3">
                <textarea id="Remark" class="txtArea" rows="6"></textarea>
            </td>
        </tr>
        </table>
</form>
