@{
    ViewBag.Title = "Apparatus》表单页面";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script type="text/javascript">
    var KeyValue = GetQuery('KeyValue');//主键
    $(function () {
        InitControl();
    })
    //得到一个对象实体
    function InitControl() {
        if (!!GetQuery('KeyValue')) {
            AjaxJson("/eSystem/Apparatus/SetForm", { KeyValue: KeyValue }, function (data) {
                SetWebControls(data);
            });
        }
    }
    //保存事件
    function AcceptClick() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        var postData = GetWebControls("#form1");
        AjaxJson("/eSystem/Apparatus/SubmitForm?KeyValue=" + KeyValue, postData, function (data) {
            tipDialog(data.Message, 3, data.Code);
            top.frames[tabiframeId()].windowload();
            closeDialog();
        });
    }
</script>
<form id="form1" style="margin: 1px">
    <div id="message" style="display: none"></div>
    <table class="form">
        <tr>
            <th class='formTitle'>MntNo：</th>
            <td class='formValue'>
                <input id="MntNo" maxlength=128 type="text" class="txt" datacol="yes" err="MntNo" checkexpession="NotNull"  />
            </td>
            <th class='formTitle'>Name：</th>
            <td class='formValue'>
                <input id="Name" maxlength=-1 type="text" class="txt" datacol="yes" err="Name" checkexpession="NotNull"  />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>Model：</th>
            <td class='formValue'>
                <input id="Model" maxlength=-1 type="text" class="txt" datacol="yes" err="Model" checkexpession="NotNull"  />
            </td>
            <th class='formTitle'>CalDate：</th>
            <td class='formValue'>
                <input id="CalDate" maxlength=23 type="text" class="txt" datacol="yes" err="CalDate" checkexpession="Date"  />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>CalResult：</th>
            <td class='formValue'>
                <input id="CalResult" maxlength=10 type="text" class="txt"   />
            </td>
            <th class='formTitle'>CertificateResults：</th>
            <td class='formValue'>
                <input id="CertificateResults" maxlength=-1 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>CalCircle：</th>
            <td class='formValue'>
                <input id="CalCircle" maxlength=10 type="text" class="txt"   />
            </td>
            <th class='formTitle'>NextCalDate：</th>
            <td class='formValue'>
                <input id="NextCalDate" maxlength=23 type="text" class="txt" datacol="yes" err="NextCalDate" checkexpession="DateOrNull"  />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>CalType：</th>
            <td class='formValue'>
                <input id="CalType" maxlength=10 type="text" class="txt"   />
            </td>
            <th class='formTitle'>UseEmp：</th>
            <td class='formValue'>
                <input id="UseEmp" maxlength=-1 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>UseAdd：</th>
            <td class='formValue'>
                <input id="UseAdd" maxlength=-1 type="text" class="txt"   />
            </td>
            <th class='formTitle'>Mark：</th>
            <td class='formValue'>
                <input id="Mark" maxlength=-1 type="text" class="txt"   />
            </td>
        </tr>
        <tr>
            <th class='formTitle'>UseEmpId：</th>
            <td class='formValue'>
                <input id="UseEmpId" maxlength=-1 type="text" class="txt"   />
            </td>
        </tr>
    </table>
</form>
