@model Carlzhu.Iooin.Entity.FORM.f.FormTest










<tr>
    <td>@Html.LabelFor(model => model.Name)</td>
    <td>@Html.DisplayTextFor(model => model.Name)</td>
    <td>@Html.LabelFor(model => model.Age)</td>
    <td>@Html.DisplayTextFor(model => model.Age)</td>
</tr>