@{
    ViewBag.Title = "表单处理中心";
    Layout = "../Shared/_eSystem.cshtml";
}

<div class="jumbotron">
    <h1>Hello, Body!</h1>
    <p>欢迎进入表单处理中心</p>
    <p><a class="btn btn-primary btn-lg" role="button">More &raquo;</a></p>
</div>

