@{
    ViewBag.Title = "FormTest";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<div id="message" style="display: none; padding: 1px; padding-bottom: 0px;"></div>

<form id="form1">


    <input type="button" value="确定" class="ui_state_highlight" onclick="AcceptClick()">


    @Html.Raw(@Carlzhu.Iooin.WebApp.BaseCommon.CreateBuildForm(2, "CD08F5C9-1B3E-4840-9979-A0E2C05814D7"))

</form>

<script type="text/javascript">

    function AcceptClick() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        Loading(true, "正在提交数据...");
        window.setTimeout(function () {
            var postData = GetWebControls("#form1");
            postData["BuildFormJson"] = JSON.stringify(GetWebControls("#CustomAttribute"));
            AjaxJson("/CommonModule/FormLayout/FormSubmit?KeyValue=" + GetQuery('KeyValue'), postData, function (data) {
                alert(data);
            });
        }, 200);


    }
</script>