@model Carlzhu.Iooin.Entity.FORM.f.draw.FormDrawingsSop



<td>@Html.DisplayTextFor(model => model.DrawPartNo)</td>
<td>@Html.DisplayTextFor(model => model.Tag)</td>
<td>@Html.DisplayTextFor(model => model.Author)</td>

@Html.Partial("cent/BaseBody", Model)