@model Carlzhu.Iooin.Entity.FORM.f.F

@Html.Action("TrackingForm", "F", new { area = "eForm", formNo = Model.FormNo })

@if (Model.Form.FormType.IsModel)
{
    <tr><td class="markarea"><hr /></td></tr>
    <tr><th class="markarea">备注</th></tr>
    <tr>
        <td class="markarea">
            <div style="height:50px;">
                @Html.DisplayTextFor(model => model.Mark)
            </div>

        </td>
    </tr>
}


<script type="text/javascript">
    //合并备注单元格
    $(".markarea").attr("colspan", $("table tr:first-child td").length + $("table tr:first-child th").length);
</script>