<!DOCTYPE html>

<html>
<head>
    <title>登录信息超时</title>
    <script type="text/javascript">
        function fullwin() {
            alert("登录信息超时，请重新登录");
            top.location.href = "../Login/Index?url=" + GetQueryString("url");
            return false;
        }
        function GetQueryString(name) {
            var url = window.location.toString();
            return url.substring(url.indexOf(name) + 4);
        }
    </script>
</head>
<body onload="fullwin()">
</body>
</html>
