<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
   <add name="CarlzhuContext" connectionString="server=192.168.0.2;database=Minicut;uid=sa;pwd=cyansoft" providerName="System.Data.SqlClient"/>
    <add name="CysoftContext" connectionString="server=192.168.0.2;database=F1;uid=sa;pwd=cyansoft" providerName="System.Data.SqlClient"/>
  </connectionStrings>
