<?xml version="1.0" encoding="utf-8"?>
<unity>
  <typeAliases>
    <typeAlias alias="IDatabase" type="Carlzhu.Iooin.Data.IDatabase,Carlzhu.Iooin.Data" />
    <typeAlias alias="EFDatabase" type="Carlzhu.Iooin.Data.EF.Database,Carlzhu.Iooin.Data.EF" />
    <typeAlias alias="IDbContext" type="Carlzhu.Iooin.Data.EF.IDbContext,Carlzhu.Iooin.Data.EF" />
    <typeAlias alias="MySql" type="Carlzhu.Iooin.Data.EF.MySqlDbContext,Carlzhu.Iooin.Data.EF" />
    <typeAlias alias="SqlServer" type="Carlzhu.Iooin.Data.EF.SqlServerDbContext,Carlzhu.Iooin.Data.EF" />
  </typeAliases>
  <containers>
    <container name="DBcontainer">
      <type type="IDatabase" mapTo="EFDatabase"></type>
      <!-- 默认数据库软件类型：SqlServer,MySql,Oracle,Access,SQLite-->
      <type type="IDbContext" mapTo="SqlServer" ></type >
      <type type="IDbContext" mapTo="SqlServer" name="SqlServer"></type >
      <type type="IDbContext" mapTo="MySql" name="MySql"></type >
    </container>
  </containers>
</unity>