@model Carlzhu.Iooin.Entity.FORM.f.draw.FormDrawingsControlPlan
@{
    Layout = "/Areas/eForm/Views/f/formLayout/_DrawingBase.cshtml";
}

<tr>
    <td>@Html.LabelFor(model => model.ProductNo)</td>
    <td>@Html.DisplayTextFor(model => model.ProductNo)</td>

    <td>@Html.LabelFor(model => model.Author)</td>
    <td>@Html.DisplayTextFor(model => model.Author)</td>
</tr>

