@{
    ViewBag.Title = "BPM";
    Layout = "../Shared/_Bpm.cshtml";
}


<div class="jumbotron">
    <h1>Hi, </h1>
    <p>&nbsp;</p>
    <p>欢迎使用工作流程管理系统...</p>
    <p>&nbsp;</p>
    <p><a href="@Url.Action("Update","Default")" class="btn btn-primary btn-lg" role="button">more...</a></p>
</div>
