@{
    ViewBag.Title = "数据字典》表单页面";
    Layout = "~/Views/Shared/_LayoutForm.cshtml";
}
<script type="text/javascript">
    $(function () {

        if (!!GetQuery('k')) {
            $("#EmpNo").val(GetQuery('k')).attr("readonly", "readonly");
        }
    })
    //加载上级


    //保存事件
    function AcceptClick() {
        if (!CheckDataValid('#form1')) {
            return false;
        }
        Loading(true, "正在提交数据...");
        window.setTimeout(function () {
            var keyValue = GetQuery('k');
            var postData = GetWebControls("#form1");

            AjaxJson("/Hrms/Attendnce/SubmitFillCard?KeyValue=" + keyValue, postData, function (data) {
                alertDialog(data.Message, 1);
            });
        }, 200);
    }
</script>
<form id="form1" style="margin: 1px">
    <div id="message" style="display: none"></div>
    <table class="form">

        <tr>
            <th class="formTitle">
                补卡工号<font face="宋体">*</font>：
            </th>
            <td class="formValue">
                <input id="EmpNo" maxlength="50" type="text" datacol="yes" err="补卡工号" checkexpession="NotNull" class="txt" />
            </td>
        </tr>
        <tr>
            <th class="formTitle">补卡时间<font face="宋体">*</font>：</th>
            <td class="formValue">
                <input id="FillTime" type="text" class="txt Wdate" />
            </td>
        </tr>

    </table>
</form>
