@model Carlzhu.Iooin.Entity.FORM.f.Involving

<div>
    <p>
        <input type="text" placeholder="请输入工号按添加" id="InvolvingTagEmployee" class="number" />
        <input type="button" value="&nbsp;&nbsp;添&nbsp;加&nbsp;&nbsp;" id="addInvolvingTag" />
        <input type="button" value="更新名单" class="pull-right" id="updateInvolvingTag" />
    </p>
    <br />
    <input type="text" class="InvolvingTag" data-guid="@Model.InvolvingUser" placeholder="在上方输入正确工号按添加"/>
</div>




