@model Carlzhu.Iooin.Entity.FORM.f.FormPath



<tr>
    <td>@Html.DisplayNameFor(model => model.ParentFormNo)</td>
    <td>@Html.TextBoxFor(model => model.ParentFormNo)</td>
    <td colspan="4">@Html.ValidationMessageFor(model => model.ParentFormNo)</td>
</tr>

